node_red/flows.json
[
    {
        "id": "90ad626a3ffa6536",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc5806d27ba0c7a2",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c37deb87175d2370",
        "type": "MySQLdatabase",
        "name": "mysql",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "projet72h",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "247e851f7eba4db4",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "projet72h",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "099d3d5d3cae3995",
        "type": "ui_tab",
        "name": "Tour de Séchage de fruits",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5259303b0818483a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#4289cd",
                "baseFont": "Lucida Sans Unicode,Lucida Grande,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#4289cd",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4289cd",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#7eafdd",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4289cd",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Lucida Sans Unicode,Lucida Grande,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "280517d11483eb41",
        "type": "ui_group",
        "name": "Supervision de l'ensemble",
        "tab": "099d3d5d3cae3995",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7ee13f4d481b66f",
        "type": "serial-port",
        "name": "Arduino",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "378600d75af3be88",
        "type": "ui_group",
        "name": "Graphique de fonctionnement",
        "tab": "014c41e9f8ce6e9d",
        "order": 2,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "014c41e9f8ce6e9d",
        "type": "ui_tab",
        "name": "Information de maintenance",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d3b72096dfc60e52",
        "type": "ui_spacer",
        "z": "cc5806d27ba0c7a2",
        "name": "spacer",
        "group": "280517d11483eb41",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "c2184253b9585a95",
        "type": "ui_spacer",
        "z": "cc5806d27ba0c7a2",
        "name": "spacer",
        "group": "280517d11483eb41",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "e82eaeb648f16460",
        "type": "ui_spacer",
        "z": "cc5806d27ba0c7a2",
        "name": "spacer",
        "group": "280517d11483eb41",
        "order": 4,
        "width": 20,
        "height": 1
    },
    {
        "id": "4c55ad100768ebd1",
        "type": "ui_spacer",
        "z": "cc5806d27ba0c7a2",
        "name": "spacer",
        "group": "280517d11483eb41",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "880d614636d868f9",
        "type": "ui_spacer",
        "z": "cc5806d27ba0c7a2",
        "name": "spacer",
        "group": "280517d11483eb41",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "b4fd099c8e0bbe31",
        "type": "ui_spacer",
        "z": "cc5806d27ba0c7a2",
        "name": "spacer",
        "group": "280517d11483eb41",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "e6481f558061d9ad",
        "type": "ui_spacer",
        "z": "cc5806d27ba0c7a2",
        "name": "spacer",
        "group": "280517d11483eb41",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "ce318b290491f6f5",
        "type": "mysql",
        "z": "cc5806d27ba0c7a2",
        "mydb": "247e851f7eba4db4",
        "name": "",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "63ce277e0b037ff2"
            ]
        ]
    },
    {
        "id": "1128feb0471299e1",
        "type": "inject",
        "z": "cc5806d27ba0c7a2",
        "name": "SELECT ALL",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "select * from capteurs_info;",
        "payload": "",
        "payloadType": "str",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "ce318b290491f6f5"
            ]
        ]
    },
    {
        "id": "0af789112ecc67f9",
        "type": "mysql",
        "z": "cc5806d27ba0c7a2",
        "mydb": "247e851f7eba4db4",
        "name": "",
        "x": 240,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "153b89ca3e4e8df0",
        "type": "inject",
        "z": "cc5806d27ba0c7a2",
        "name": "USE",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "USE projet72h;",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "0af789112ecc67f9"
            ]
        ]
    },
    {
        "id": "1aef4605758c0b7a",
        "type": "inject",
        "z": "cc5806d27ba0c7a2",
        "name": "INSERT",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "USE projet72h;     INSERT INTO capteurs_info (date, capteurs_temp, capteurs_humide, capteurs_pbs)     VALUES (UNIX_TIMESTAMP(), 40, 50, 75);",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "d1a298c82fe00b89"
            ]
        ]
    },
    {
        "id": "d1a298c82fe00b89",
        "type": "mysql",
        "z": "cc5806d27ba0c7a2",
        "mydb": "247e851f7eba4db4",
        "name": "",
        "x": 680,
        "y": 180,
        "wires": [
            [
                "ef330ee3ad4f89cf"
            ]
        ]
    },
    {
        "id": "95ef20d1e6d1093c",
        "type": "ui_chart",
        "z": "cc5806d27ba0c7a2",
        "name": "",
        "group": "378600d75af3be88",
        "order": 1,
        "width": 10,
        "height": 10,
        "label": "Information de température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ef330ee3ad4f89cf",
        "type": "debug",
        "z": "cc5806d27ba0c7a2",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "42f3c30978cefa6e",
        "type": "function",
        "z": "cc5806d27ba0c7a2",
        "name": "Get tempéra",
        "func": "// Vérifier si msg.payload est une chaîne de caractères\nif (typeof msg.payload === 'string') {\n  try {\n    // Convertir la chaîne en tableau JSON\n    msg.payload = JSON.parse(msg.payload);\n  } catch (e) {\n    // En cas d'erreur de conversion, définir msg.payload à null\n    msg.payload = null;\n    return msg;\n  }\n}\n\n// Vérifier si msg.payload est un tableau non vide\nif (Array.isArray(msg.payload) && msg.payload.length > 0) {\n  // Trier le tableau par date (du plus récent au plus ancien)\n  msg.payload.sort((a, b) => b.date - a.date);\n  // Extraire la température de l'objet le plus récent\n  msg.payload = msg.payload[0].capteurs_temp;\n} else {\n  // Si le tableau est vide ou non valide, définir une valeur par défaut\n  msg.payload = null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 500,
        "wires": [
            [
                "95ef20d1e6d1093c",
                "8927225d60e5aaca"
            ]
        ]
    },
    {
        "id": "63ce277e0b037ff2",
        "type": "json",
        "z": "cc5806d27ba0c7a2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 450,
        "y": 500,
        "wires": [
            [
                "42f3c30978cefa6e",
                "d9a439893682f65b",
                "d75c49f3c7c08f10"
            ]
        ]
    },
    {
        "id": "d9a439893682f65b",
        "type": "function",
        "z": "cc5806d27ba0c7a2",
        "name": "Get humid",
        "func": "// Vérifier si msg.payload est une chaîne de caractères\nif (typeof msg.payload === 'string') {\n  try {\n    // Convertir la chaîne en tableau JSON\n    msg.payload = JSON.parse(msg.payload);\n  } catch (e) {\n    // En cas d'erreur de conversion, définir msg.payload à null\n    msg.payload = null;\n    return msg;\n  }\n}\n\n// Vérifier si msg.payload est un tableau non vide\nif (Array.isArray(msg.payload) && msg.payload.length > 0) {\n  // Trier le tableau par date (du plus récent au plus ancien)\n  msg.payload.sort((a, b) => b.date - a.date);\n  // Extraire la température de l'objet le plus récent\n  msg.payload = msg.payload[0].capteurs_humide;\n} else {\n  // Si le tableau est vide ou non valide, définir une valeur par défaut\n  msg.payload = null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 400,
        "wires": [
            [
                "b1e41732b310dbb9",
                "529f94456c57cbd1"
            ]
        ]
    },
    {
        "id": "b1e41732b310dbb9",
        "type": "ui_chart",
        "z": "cc5806d27ba0c7a2",
        "name": "",
        "group": "378600d75af3be88",
        "order": 2,
        "width": 10,
        "height": 10,
        "label": "Information de d'humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#0095ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "8be938a57b6b78e1",
        "type": "serial in",
        "z": "cc5806d27ba0c7a2",
        "name": "",
        "serial": "f7ee13f4d481b66f",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "7d673f7f8ccdf2b2"
            ]
        ]
    },
    {
        "id": "7d673f7f8ccdf2b2",
        "type": "function",
        "z": "cc5806d27ba0c7a2",
        "name": "Insert mysql arduino",
        "func": "// Récupérer le message d'entrée\nlet input = msg.payload;\n\n// Extraire les valeurs de temp et humid\nlet temp = parseFloat(input.match(/temp: (\\d+\\.\\d+)/)[1]);\nlet humid = parseFloat(input.match(/humid: (\\d+\\.\\d+)/)[1]);\n\n// Initialiser capteurs_pbs à 0 (pas de problème)\nlet capteurs_pbs = 0;\n\n// Déterminer la valeur de capteurs_pbs selon les seuils\nif (temp > 40) {\n    capteurs_pbs = 50;  // Code pour température trop haute\n} \nelse if (humid > 80) {\n    capteurs_pbs = 75;  // Code pour humidité trop haute\n}\n\n// Formater la requête SQL\nlet sqlQuery = `\n    USE projet72h;\n    INSERT INTO capteurs_info (date, capteurs_temp, capteurs_humide, capteurs_pbs)\n    VALUES (UNIX_TIMESTAMP(), ${temp}, ${humid}, ${capteurs_pbs});\n`;\n\n// Passer la requête SQL dans le message\nmsg.topic = sqlQuery;\n\n// Retourner le message\nreturn msg;",
        "outputs": 1,
        "timeout": "0",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "601501b48ba0d6ed"
            ]
        ]
    },
    {
        "id": "601501b48ba0d6ed",
        "type": "mysql",
        "z": "cc5806d27ba0c7a2",
        "mydb": "247e851f7eba4db4",
        "name": "",
        "x": 560,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d75c49f3c7c08f10",
        "type": "function",
        "z": "cc5806d27ba0c7a2",
        "name": "Get pbs",
        "func": "// Vérifier si msg.payload est une chaîne de caractères\nif (typeof msg.payload === 'string') {\n  try {\n    // Convertir la chaîne en tableau JSON\n    msg.payload = JSON.parse(msg.payload);\n  } catch (e) {\n    // En cas d'erreur de conversion, définir msg.payload à null\n    msg.payload = null;\n    return msg;\n  }\n}\n\n// Vérifier si msg.payload est un tableau non vide\nif (Array.isArray(msg.payload) && msg.payload.length > 0) {\n  // Trier le tableau par date (du plus récent au plus ancien)\n  msg.payload.sort((a, b) => b.date - a.date);\n  // Extraire la température de l'objet le plus récent\n  msg.payload = msg.payload[0].capteurs_pbs;\n} else {\n  // Si le tableau est vide ou non valide, définir une valeur par défaut\n  msg.payload = null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 620,
        "wires": [
            [
                "9fb0f14197b412a5",
                "d3aee445a6759a21"
            ]
        ]
    },
    {
        "id": "9fb0f14197b412a5",
        "type": "ui_chart",
        "z": "cc5806d27ba0c7a2",
        "name": "",
        "group": "378600d75af3be88",
        "order": 3,
        "width": 20,
        "height": 6,
        "label": "Anomalie de fonctionnement ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#0095ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "330e9af32cfdcff2",
        "type": "ui_text",
        "z": "cc5806d27ba0c7a2",
        "group": "280517d11483eb41",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Status de fonctionnement",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1270,
        "y": 640,
        "wires": []
    },
    {
        "id": "d3aee445a6759a21",
        "type": "function",
        "z": "cc5806d27ba0c7a2",
        "name": "Txt process",
        "func": "// Fonction pour traiter les valeurs des capteurs\nif (msg.payload === 50) {\n    return { payload: \"Température trop haute\" };\n} else if (msg.payload === 75) {\n    return { payload: \"Humidité trop haute\" };\n} else {\n    // Retourne null si aucune condition n'est remplie (facultatif)\n    return { payload: \"Fonctionnement Normal\" };\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 640,
        "wires": [
            [
                "330e9af32cfdcff2",
                "ffd66448f5ab4271"
            ]
        ]
    },
    {
        "id": "ffd66448f5ab4271",
        "type": "serial out",
        "z": "cc5806d27ba0c7a2",
        "name": "",
        "serial": "f7ee13f4d481b66f",
        "x": 1220,
        "y": 680,
        "wires": []
    },
    {
        "id": "8591888c7b4f7ed4",
        "type": "ui_text",
        "z": "cc5806d27ba0c7a2",
        "group": "280517d11483eb41",
        "order": 6,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Température : ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 480,
        "wires": []
    },
    {
        "id": "0f80b1abeba6e113",
        "type": "ui_text",
        "z": "cc5806d27ba0c7a2",
        "group": "280517d11483eb41",
        "order": 9,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Humiditée : ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1290,
        "y": 420,
        "wires": []
    },
    {
        "id": "8927225d60e5aaca",
        "type": "function",
        "z": "cc5806d27ba0c7a2",
        "name": "Txt process",
        "func": "return  { payload : msg.payload + \"°C\"}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 480,
        "wires": [
            [
                "8591888c7b4f7ed4"
            ]
        ]
    },
    {
        "id": "529f94456c57cbd1",
        "type": "function",
        "z": "cc5806d27ba0c7a2",
        "name": "Txt process",
        "func": "return { payload : msg.payload + \" %\"}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 420,
        "wires": [
            [
                "0f80b1abeba6e113"
            ]
        ]
    }
]