node_red/flows.json
[{"id":"a70c9d48bb6e7f18","type":"tab","label":"Flux 1","disabled":false,"info":"","env":[]},{"id":"62c1b095ee9c979a","type":"mysql","z":"a70c9d48bb6e7f18","mydb":"247e851f7eba4db4","name":"","x":320,"y":500,"wires":[["f9933fdc200858eb"]]},{"id":"eccdcc79a8a5af19","type":"inject","z":"a70c9d48bb6e7f18","name":"SELECT ALL","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"SELECT * FROM capteurs_info ORDER BY date DESC LIMIT 1;","payload":"","payloadType":"str","x":140,"y":500,"wires":[["62c1b095ee9c979a"]]},{"id":"d77023ab99c7f3f0","type":"mysql","z":"a70c9d48bb6e7f18","mydb":"247e851f7eba4db4","name":"","x":240,"y":200,"wires":[[]]},{"id":"1a66543ec7687fff","type":"inject","z":"a70c9d48bb6e7f18","name":"USE","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"USE projet72h;","x":110,"y":200,"wires":[["d77023ab99c7f3f0"]]},{"id":"0d0544d019fdf2ff","type":"inject","z":"a70c9d48bb6e7f18","name":"INSERT","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"USE projet72h;     INSERT INTO capteurs_info (date, capteurs_temp, capteurs_humide, capteurs_pbs)     VALUES (UNIX_TIMESTAMP(), 40, 50, 75);","x":440,"y":120,"wires":[["9e71b0613c50be3a"]]},{"id":"9e71b0613c50be3a","type":"mysql","z":"a70c9d48bb6e7f18","mydb":"247e851f7eba4db4","name":"","x":680,"y":180,"wires":[["64431d183b5f99f7"]]},{"id":"65f33bfbea72bdba","type":"ui_chart","z":"a70c9d48bb6e7f18","name":"","group":"378600d75af3be88","order":1,"width":10,"height":10,"label":"Information de température","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1180,"y":520,"wires":[[]]},{"id":"64431d183b5f99f7","type":"debug","z":"a70c9d48bb6e7f18","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":160,"wires":[]},{"id":"ca81f69f8f500f9f","type":"function","z":"a70c9d48bb6e7f18","name":"Get tempéra","func":"// Vérifier si msg.payload est une chaîne de caractères\nif (typeof msg.payload === 'string') {\n  try {\n    // Convertir la chaîne en tableau JSON\n    msg.payload = JSON.parse(msg.payload);\n  } catch (e) {\n    // En cas d'erreur de conversion, définir msg.payload à null\n    msg.payload = null;\n    return msg;\n  }\n}\n\n// Vérifier si msg.payload est un tableau non vide\nif (Array.isArray(msg.payload) && msg.payload.length > 0) {\n  // Trier le tableau par date (du plus récent au plus ancien)\n  msg.payload.sort((a, b) => b.date - a.date);\n  // Extraire la température de l'objet le plus récent\n  msg.payload = msg.payload[0].capteurs_temp;\n} else {\n  // Si le tableau est vide ou non valide, définir une valeur par défaut\n  msg.payload = null;\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":500,"wires":[["65f33bfbea72bdba","cadf0d85a60322eb"]]},{"id":"f9933fdc200858eb","type":"json","z":"a70c9d48bb6e7f18","name":"","property":"payload","action":"","pretty":true,"x":450,"y":500,"wires":[["ca81f69f8f500f9f","c98fbdb343e9a5ee","4b3f69120e3bd496","815eb21227985a15"]]},{"id":"c98fbdb343e9a5ee","type":"function","z":"a70c9d48bb6e7f18","name":"Get humid","func":"// Vérifier si msg.payload est une chaîne de caractères\nif (typeof msg.payload === 'string') {\n  try {\n    // Convertir la chaîne en tableau JSON\n    msg.payload = JSON.parse(msg.payload);\n  } catch (e) {\n    // En cas d'erreur de conversion, définir msg.payload à null\n    msg.payload = null;\n    return msg;\n  }\n}\n\n// Vérifier si msg.payload est un tableau non vide\nif (Array.isArray(msg.payload) && msg.payload.length > 0) {\n  // Trier le tableau par date (du plus récent au plus ancien)\n  msg.payload.sort((a, b) => b.date - a.date);\n  // Extraire la température de l'objet le plus récent\n  msg.payload = msg.payload[0].capteurs_humide;\n} else {\n  // Si le tableau est vide ou non valide, définir une valeur par défaut\n  msg.payload = null;\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":400,"wires":[["6451e327b7df1133","89ee5afdf4d43366"]]},{"id":"6451e327b7df1133","type":"ui_chart","z":"a70c9d48bb6e7f18","name":"","group":"378600d75af3be88","order":2,"width":10,"height":10,"label":"Information de d'humidité","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#0095ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1170,"y":380,"wires":[[]]},{"id":"311b10c046e995e0","type":"serial in","z":"a70c9d48bb6e7f18","name":"","serial":"f7ee13f4d481b66f","x":110,"y":320,"wires":[["e21ff8bc74a9f1db"]]},{"id":"4eac7c3ededb3797","type":"function","z":"a70c9d48bb6e7f18","name":"Insert mysql arduino","func":"// Récupérer le message d'entrée\nlet input = msg.payload;\n// Extraire les valeurs de temp et humid\nlet temp = parseFloat(input.match(/temp: (\\d+\\.\\d+)/)[1]);\nlet humid = parseFloat(input.match(/humid: (\\d+\\.\\d+)/)[1]);\n// Initialiser capteurs_pbs à 0 (pas de problème)\nlet capteurs_pbs = 0;\n// Déterminer la valeur de capteurs_pbs selon les seuils\nif (temp > 40) {\n    capteurs_pbs = 50;  // Code pour température trop haute\n} \nelse if (humid > 50) {\n    capteurs_pbs = 75;  // Code pour humidité trop haute\n}\n// Formater la requête SQL\nlet sqlQuery = `\n    USE projet72h;\n    INSERT INTO capteurs_info (date, capteurs_temp, capteurs_humide, capteurs_pbs)\n    VALUES (UNIX_TIMESTAMP(), ${temp}, ${humid}, ${capteurs_pbs});\n`;\n// Passer la requête SQL dans le message\nmsg.topic = sqlQuery;\n// Retourner le message\nreturn msg;","outputs":1,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":320,"wires":[["6b2d830811a40600"]]},{"id":"6b2d830811a40600","type":"mysql","z":"a70c9d48bb6e7f18","mydb":"247e851f7eba4db4","name":"","x":800,"y":320,"wires":[[]]},{"id":"4b3f69120e3bd496","type":"function","z":"a70c9d48bb6e7f18","name":"Get pbs","func":"// Vérifier si msg.payload est une chaîne de caractères\nif (typeof msg.payload === 'string') {\n  try {\n    // Convertir la chaîne en tableau JSON\n    msg.payload = JSON.parse(msg.payload);\n  } catch (e) {\n    // En cas d'erreur de conversion, définir msg.payload à null\n    msg.payload = null;\n    return msg;\n  }\n}\n\n// Vérifier si msg.payload est un tableau non vide\nif (Array.isArray(msg.payload) && msg.payload.length > 0) {\n  // Trier le tableau par date (du plus récent au plus ancien)\n  msg.payload.sort((a, b) => b.date - a.date);\n  // Extraire la température de l'objet le plus récent\n  msg.payload = msg.payload[0].capteurs_pbs;\n} else {\n  // Si le tableau est vide ou non valide, définir une valeur par défaut\n  msg.payload = null;\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":620,"wires":[["77ab052305545349","5ddfedf5e5709d63"]]},{"id":"77ab052305545349","type":"ui_chart","z":"a70c9d48bb6e7f18","name":"","group":"378600d75af3be88","order":3,"width":20,"height":6,"label":"Anomalie de fonctionnement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#0095ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1160,"y":580,"wires":[[]]},{"id":"e165a87d6f857fd1","type":"ui_text","z":"a70c9d48bb6e7f18","group":"280517d11483eb41","order":3,"width":12,"height":1,"name":"","label":"Status de fonctionnement","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1270,"y":640,"wires":[]},{"id":"5ddfedf5e5709d63","type":"function","z":"a70c9d48bb6e7f18","name":"Txt process","func":"// Fonction pour traiter les valeurs des capteurs\nif (msg.payload === 50) {\n    return { payload: \"Température trop haute\" };\n} else if (msg.payload === 75) {\n    return { payload: \"Humidité trop haute\" };\n} else {\n    // Retourne null si aucune condition n'est remplie (facultatif)\n    return { payload: \"Fonctionnement Normal\" };\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":640,"wires":[["e165a87d6f857fd1","9567bdcf8ebd116f"]]},{"id":"7e00898df614afa5","type":"ui_text","z":"a70c9d48bb6e7f18","group":"280517d11483eb41","order":6,"width":10,"height":1,"name":"","label":"Température : ","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1300,"y":480,"wires":[]},{"id":"d02b4b4c9a401da4","type":"ui_text","z":"a70c9d48bb6e7f18","group":"280517d11483eb41","order":9,"width":10,"height":1,"name":"","label":"Humiditée : ","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1290,"y":420,"wires":[]},{"id":"cadf0d85a60322eb","type":"function","z":"a70c9d48bb6e7f18","name":"Txt process","func":"return  { payload : msg.payload + \"°C\"}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":480,"wires":[["7e00898df614afa5"]]},{"id":"89ee5afdf4d43366","type":"function","z":"a70c9d48bb6e7f18","name":"Txt process","func":"return { payload : msg.payload + \" %\"}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":420,"wires":[["d02b4b4c9a401da4"]]},{"id":"93b97ba410c69e08","type":"function","z":"a70c9d48bb6e7f18","name":"Format 1","func":"// Vérifie que la structure JSON est valide\nif (msg.payload.weather && msg.payload.weather[0]) {\n    // Extrait uniquement la description\n    msg.payload = msg.payload.weather[0].description;\n} else {\n    msg.payload = \"Données météo non disponibles\";\n    node.error(\"Structure JSON invalide - champ 'weather' manquant\", msg);\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":800,"wires":[["edbf538374de91a8"]]},{"id":"84c256f58c3fa5dd","type":"json","z":"a70c9d48bb6e7f18","name":"","property":"payload","action":"","pretty":true,"x":530,"y":820,"wires":[["93b97ba410c69e08","738343912db2623b","632724d8c753fb88","40fbc9b24a4fd285"]]},{"id":"edbf538374de91a8","type":"ui_text","z":"a70c9d48bb6e7f18","group":"280517d11483eb41","order":15,"width":8,"height":1,"name":"","label":"Météo actuel : ","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":900,"y":800,"wires":[]},{"id":"738343912db2623b","type":"function","z":"a70c9d48bb6e7f18","name":"Format 1","func":"// Vérifie que la structure JSON est valide\nif (msg.payload.weather && msg.payload.weather[0]) {\n    // Extrait uniquement la description\n    msg.payload = Math.round(msg.payload.main.temp_min - 273.15) + \"°C\";\n} else {\n    msg.payload = \"Données de témpérature non disponibles\";\n    node.error(\"Structure JSON invalide - champ 'weather' manquant\", msg);\n}\n\nreturn msg;\n\n\n // temp_min: Math.round(msg.payload.main.temp_min - 273.15) + \"°C\",","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":840,"wires":[["a88e5404ef35a700"]]},{"id":"a88e5404ef35a700","type":"ui_text","z":"a70c9d48bb6e7f18","group":"280517d11483eb41","order":18,"width":8,"height":1,"name":"","label":"Température minimal exterieure : ","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":960,"y":840,"wires":[]},{"id":"632724d8c753fb88","type":"function","z":"a70c9d48bb6e7f18","name":"Format 1","func":"// Vérifie que la structure JSON est valide\nif (msg.payload.weather && msg.payload.weather[0]) {\n    // Extrait uniquement la description\n    msg.payload = Math.round(msg.payload.main.temp_max - 273.15) + \"°C\";\n} else {\n    msg.payload = \"Données de témpérature non disponibles\";\n    node.error(\"Structure JSON invalide - champ 'weather' manquant\", msg);\n}\n\nreturn msg;\n\n\n // temp_min: Math.round(msg.payload.main.temp_min - 273.15) + \"°C\",","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":880,"wires":[["c01b5d8f1785c446"]]},{"id":"c01b5d8f1785c446","type":"ui_text","z":"a70c9d48bb6e7f18","group":"280517d11483eb41","order":20,"width":8,"height":1,"name":"","label":"Température maximal exterieure :","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":960,"y":880,"wires":[]},{"id":"8f929fa421eab34c","type":"ui_text","z":"a70c9d48bb6e7f18","group":"280517d11483eb41","order":13,"width":0,"height":0,"name":"","label":"Information de OpenWeatherData ( Météo Exterieur )","format":"","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":220,"y":980,"wires":[]},{"id":"a580801361a5dece","type":"ui_text","z":"a70c9d48bb6e7f18","group":"280517d11483eb41","order":1,"width":20,"height":1,"name":"","label":"Information des capteurs internes","format":"","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":160,"y":1020,"wires":[]},{"id":"3d14727cf27bbc99","type":"debug","z":"a70c9d48bb6e7f18","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":280,"wires":[]},{"id":"40fbc9b24a4fd285","type":"debug","z":"a70c9d48bb6e7f18","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":760,"wires":[]},{"id":"e21ff8bc74a9f1db","type":"delay","z":"a70c9d48bb6e7f18","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":300,"y":320,"wires":[["4eac7c3ededb3797","3d14727cf27bbc99"]]},{"id":"70e12b8829822810","type":"http request","z":"a70c9d48bb6e7f18","name":"Discord webhook","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://discord.com/api/webhooks/1359091542249443410/-64ppY9muNeygmoRHLbVSgsOx2loahKaW_BFIsweZtAgKAmwcW816bEKnyYjjdo5QIA3","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1710,"y":720,"wires":[["de3e2bdede06020b"]]},{"id":"de3e2bdede06020b","type":"debug","z":"a70c9d48bb6e7f18","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1880,"y":720,"wires":[]},{"id":"fb4e3c3f8d826107","type":"function","z":"a70c9d48bb6e7f18","name":"formatage webhookj","func":"msg.headers = {\n    \"Content-Type\": \"application/json\"\n};\nmsg.payload = {\n   \"content\": \"Etat de fonctionnement : \" + msg.payload\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":720,"wires":[["70e12b8829822810","2f337b6e1cf8bf0d"]]},{"id":"9567bdcf8ebd116f","type":"delay","z":"a70c9d48bb6e7f18","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1260,"y":720,"wires":[["fb4e3c3f8d826107"]]},{"id":"2f337b6e1cf8bf0d","type":"http request","z":"a70c9d48bb6e7f18","name":"Mail","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://hooks.zapier.com/hooks/catch/22407471/20u8c5e/","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1670,"y":760,"wires":[[]]},{"id":"815eb21227985a15","type":"debug","z":"a70c9d48bb6e7f18","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":440,"wires":[]},{"id":"ce816bb36cc20608","type":"inject","z":"a70c9d48bb6e7f18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/1 0 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":820,"wires":[["de32c8a720f93163"]]},{"id":"de32c8a720f93163","type":"function","z":"a70c9d48bb6e7f18","name":"formatage request weather","func":"msg.headers={\n\n    \n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":780,"wires":[["bed156398d5e7122"]]},{"id":"bed156398d5e7122","type":"http request","z":"a70c9d48bb6e7f18","name":"weather v2","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/weather?lat=48.856614&lon=2.3522219&appid=f9c6dd6789b442b3b0d090119fb584ca","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":390,"y":820,"wires":[["84c256f58c3fa5dd"]]},{"id":"4110a76066478f85","type":"usbcamera","z":"a70c9d48bb6e7f18","filemode":"0","filename":"image01.jpg","filedefpath":"0","filepath":"/home/sin/.node-red/public/images","fileformat":"jpeg","resolution":"1","name":"","x":710,"y":1080,"wires":[["8f766a19d5c1482d"]]},{"id":"23947db47a16b77d","type":"file in","z":"a70c9d48bb6e7f18","name":"","filename":"","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":860,"y":1000,"wires":[[]]},{"id":"b2f7e0cd3bfe6dbe","type":"ui_template","z":"a70c9d48bb6e7f18","group":"8372f030c58c18cf","name":"","order":2,"width":13,"height":8,"format":"<div style=\"text-align: center; background: #000; padding: 10px;\">\n  <img src=\"{{msg.payload.image}}\" \n       style=\"max-width: 100%; max-height: 480px;\"\n       onerror=\"this.src='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQwIiBoZWlnaHQ9IjQ4MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSIjMzMzIi8+PHRleHQgeD0iNTAlIiB5PSI1MCUiIGZvbnQtZmFtaWx5PSJBcmlhbCIgZm9udC1zaXplPSIyNCIgZmlsbD0iI2ZmZiIgdGV4dC1hbmNob3I9Im1pZGRsZSI+RnJhbWUgbm90IHJlY2VpdmVkPC90ZXh0Pjwvc3ZnPg=='\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1140,"y":1080,"wires":[[]]},{"id":"8f766a19d5c1482d","type":"function","z":"a70c9d48bb6e7f18","name":"function 1","func":"// Vérifie que le buffer est valide\nif (!msg.payload || msg.payload.length === 0) {\n    node.warn(\"Buffer vide reçu de la caméra\");\n    return null;\n}\n\n// Convertit le MJPG en base64 pour le dashboard\nmsg.payload = {\n    image: \"data:image/jpeg;base64,\" + msg.payload.toString('base64'),\n    timestamp: Date.now()\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1080,"wires":[["b2f7e0cd3bfe6dbe","3582c2d9fedac518"]]},{"id":"3582c2d9fedac518","type":"debug","z":"a70c9d48bb6e7f18","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.image","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":1120,"wires":[]},{"id":"53b9015b7fa3140c","type":"ui_button","z":"a70c9d48bb6e7f18","name":"","group":"8372f030c58c18cf","order":18,"width":0,"height":0,"passthru":false,"label":"Prendre un photo ( latence 2s )","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":550,"y":1140,"wires":[["4110a76066478f85"]]},{"id":"f30b26b84495d00e","type":"inject","z":"a70c9d48bb6e7f18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":1080,"wires":[["4110a76066478f85"]]},{"id":"af76a76584e674ef","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"280517d11483eb41","order":2,"width":4,"height":1},{"id":"a83d90c72c12530d","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"280517d11483eb41","order":4,"width":4,"height":1},{"id":"369695b9fe20476e","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"280517d11483eb41","order":5,"width":5,"height":1},{"id":"e3a2155e061aafc2","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"280517d11483eb41","order":7,"width":5,"height":1},{"id":"1923b4a2801de666","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"280517d11483eb41","order":8,"width":5,"height":1},{"id":"aa1d77ce601bc519","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"280517d11483eb41","order":10,"width":5,"height":1},{"id":"4409ba8396f4ab21","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"280517d11483eb41","order":11,"width":20,"height":1},{"id":"13d5f4d0389c6cf3","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"280517d11483eb41","order":12,"width":20,"height":1},{"id":"35f66dcf242b6ee3","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"280517d11483eb41","order":14,"width":6,"height":1},{"id":"55b7913abfaa7c59","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"280517d11483eb41","order":16,"width":6,"height":1},{"id":"144eb376aa404d20","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"280517d11483eb41","order":17,"width":1,"height":1},{"id":"1c586a58e927bc81","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"280517d11483eb41","order":19,"width":2,"height":1},{"id":"9da752c02603cecf","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"280517d11483eb41","order":21,"width":1,"height":1},{"id":"a31fb25ce2b6bbad","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":1,"width":1,"height":1},{"id":"436dc62a1b4f34d6","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":3,"width":1,"height":1},{"id":"386e61d6f42dedce","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":4,"width":1,"height":1},{"id":"9bb6dc69b636887b","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":5,"width":1,"height":1},{"id":"7323928829aa28a5","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":6,"width":1,"height":1},{"id":"34155d911a8b5ea2","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":7,"width":1,"height":1},{"id":"b3da332a870728bf","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":8,"width":1,"height":1},{"id":"6df2e130a5ce9603","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":9,"width":1,"height":1},{"id":"4c8e06638eb80724","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":10,"width":1,"height":1},{"id":"060cc2dce8a17f3f","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":11,"width":1,"height":1},{"id":"9e21e29fa3bd6139","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":12,"width":1,"height":1},{"id":"140f52592c05af66","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":13,"width":1,"height":1},{"id":"dbc029d0523bea3a","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":14,"width":1,"height":1},{"id":"2ed71a33d98037b5","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":15,"width":1,"height":1},{"id":"c99a9a63771cf22f","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":16,"width":1,"height":1},{"id":"4174119b53b4f981","type":"ui_spacer","z":"a70c9d48bb6e7f18","name":"spacer","group":"8372f030c58c18cf","order":17,"width":1,"height":1},{"id":"247e851f7eba4db4","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"projet72h","tz":"","charset":"UTF8"},{"id":"378600d75af3be88","type":"ui_group","name":"Graphique de fonctionnement","tab":"014c41e9f8ce6e9d","order":2,"disp":true,"width":20,"collapse":false,"className":""},{"id":"f7ee13f4d481b66f","type":"serial-port","name":"Arduino","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":8,"parity":"none","stopbits":1,"waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":10000},{"id":"280517d11483eb41","type":"ui_group","name":"Supervision de l'ensemble","tab":"099d3d5d3cae3995","order":1,"disp":true,"width":20,"collapse":false,"className":""},{"id":"8372f030c58c18cf","type":"ui_group","name":"Camera de surveillance","tab":"cdc79ce8aa494976","order":1,"disp":true,"width":15,"collapse":false,"className":""},{"id":"014c41e9f8ce6e9d","type":"ui_tab","name":"Information de maintenance","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"099d3d5d3cae3995","type":"ui_tab","name":"Tour de Séchage de fruits","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"cdc79ce8aa494976","type":"ui_tab","name":"Cam1","icon":"dashboard","order":3,"disabled":false,"hidden":false}]